{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "tabs": true,
    "singleQuote": true,
    "printWidth": 380,
    "jsxSingleQuote": true,
    "bracketSpacing": false,
    "arrowParens": "always",
}
  